
@{
    ViewBag.Title = "RaceToPlayoffs";
}

<h2>RaceToPlayoffs</h2>

<script type="text/javascript">
    //Set Active Nav Bar item
    document.getElementById("CPL18-MainNavItem").classList.add("active");
    
</script>


