@{
    ViewBag.Title = "Home Page";
}



<nav>
    <div class="nav-wrapper light-green">
        <a href="#!" class="brand-logo right">Logo</a>
        <ul class="left">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li class="active"><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
<div class="row orange">
    <div class="col s1">1</div>
    <div class="col s1">2</div>
    <div class="col s1">3</div>
    <div class="col s1">4</div>
    <div class="col s1">5</div>
    <div class="col s1">6</div>
    <div class="col s1">7</div>
    <div class="col s1">8</div>
    <div class="col s1">9</div>
    <div class="col s1">10</div>
    <div class="col s1">11</div>
    <div class="col s1">12</div>
</div>

@{

    for (int i = 0; i < 1999; i++)
    {
        <text>@i</text>
    }
}
