
@{
    ViewBag.Title = "Predictions";
}

<nav class="blue darken-1">
    <div class="container">
        <div class="nav-wrapper">
            <ul class="left">
                <li class="active"><a href='@Url.Action("Predictions", "IPL18")'>Predictions</a></li>
                <li><a href='@Url.Action("Teams", "IPL18")'>Teams</a></li>
                <li><a href='@Url.Action("Graph", "IPL18")'>Graph</a></li>
                <li><a href='@Url.Action("Caps", "IPL18")'>Caps</a></li>
            </ul>
        </div>
    </div>
</nav>

@{
    //Input from controller
    string inputResults = (string)ViewData["Results"];
    string inputStandings = (string)ViewData["Standings"];
    string inputWeek = (string)ViewData["Defaults"];
    string inputPlayoffPrec = (string)ViewData["PlayoffPerc"];
}

<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card grey lighten-5 z-depth-5">
                <h5 class="center-align" style="padding-top:10px; color:#1e88e5">PRESENT STANDINGS</h5>
                <table class="centered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>P</th>
                            <th>W</th>
                            <th>L</th>
                            <th>Pts</th>
                            <th>NRR</th>
                            <th>%</th>
                            <th><i class="material-icons">import_export</i></th>
                        </tr>
                    </thead>
                    <tbody id="standingsTableBody"></tbody>
                </table>
                <p class="center-align grey-text">*Sort order: Points, Wins, NRR</p>
            </div>
        </div>
        <div class="col s12 m6">
            <div id="predictions">
                <div class="card grey lighten-5 z-depth-5">
                    <h5 class="center-align" style="padding-top:10px;color:#1e88e5">PROJECTED STANDINGS</h5>
                    <table class="centered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>P</th>
                                <th>W</th>
                                <th>L</th>
                                <th>T</th>
                                <th>Pts</th>
                            </tr>
                        </thead>
                        <tbody id="predictionsTableBody"></tbody>
                    </table>
                    <p class="center-align grey-text">*Sort order: Points, Wins, Present NRR</p>
                </div>
            </div>
        </div>
        <div class="col s12 card grey lighten-5 z-depth-2" style="color:#1e88e5">
            <div id="weeklySelection">

            </div>
            <div id="teamsLogos">

            </div>
            <p class="col s4 m8 l8 small left-align grey-text"></p>
            <p class="col s8 m4 l4">
                <label style="padding-right:20px">
                    <input name="group1" type="radio" class="with-gap class="blue darken-4"" id="radioButtonViewByDate" checked onchange="ViewByChanged(id)" />
                    <span>Date</span>
                </label>
                <label>
                    <input name="group1" type="radio" class="with-gap class="blue darken-4"" id="radioButtonViewByTeam" onchange="ViewByChanged(id)" />
                    <span>Team</span>
                </label>
            </p>
            <p class="col s12 center-align">Pick your IPL Winners in Future Games and check out the Projected Standings</p>

            <h5 class="col s12 center-align" style="padding-top:10px;color:#1e88e5">FUTURE GAMES</h5>
            <div id="games">

            </div>
            <h5 class="col s12 center-align" style="padding-top:10px;color:#1e88e5">RESULTS</h5>
            <div id="results">

            </div>
            <div id="weeklySelectionBottom">

            </div>
        </div>
    </div>
</div>

<!-- Modal Trigger -->
<div style="background-color:#1e88e5;padding:20px" >
    <div class="container">
        <div class="row">
            
            <div class="col s3 center-align"><a class="modal-trigger white-text" style="font-size:large" href="#modal1">Privacy</a></div>
            <div class="col s3 center-align"><a class="modal-trigger white-text" style="font-size:large" href="#modal2">FAQ</a></div>
            <div class="col s3 center-align"><a class="modal-trigger white-text" style="font-size:large" href="#modal3">About</a></div>
            <div class="col s3 center-align"><a class="modal-trigger white-text" style="font-size:large" href="#modal4">Suggestions</a></div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Privacy Policy</h4><br />
        <p>Content under development</p><br />
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>


<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Frequently Asked Questions</h4><br /> 
        <p>Content under development</p><br />
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="modal3" class="modal">
    <div class="modal-content">
        <h4>About</h4><br />
        <p>CricPredict is a sports analysis platform. We analyze possible outcomes of future games in a tournament and compute the mathematical percentage chance for each team to make it to the playoffs.</p>
        <p>Additionally, users can check out how the standings change when a team wins an upcoming game. The user can select either team to win an upcoming game, and as the winner of an upcoming game changes we refresh the projected standings to reflect the change.</p>
        <br />
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="modal4" class="modal">
    <div class="modal-content">
        <h4>Suggestions & Comments</h4><br />
        <div class="row">
            <form class="col s12" method="post">
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix" style="color:#1e88e5">mode_edit</i>
                        <textarea name="suggestions" id="icon_prefix2" class="materialize-textarea blue-grey-text"></textarea>
                        <label for="icon_prefix2">Suggestions & Comments</label>
                    </div>
                    <div class="col s2">
                            <button class="btn-large waves-effect waves-light white" type="submit" name="action" style="margin-top:10px">                                
                                <i class="material-icons large" style="color:#1e88e5">send</i>
                            </button>
                        
                    </div>
                </div>
            </form>
        </div>        
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<script type="text/javascript">
    var currentWeek = [0];
    var currentTeamIndex = [0];
    var viewType = ["Date"];    //Date/Team

    var origStandingsJS = [];   //ShortTeamName, LongTeamName, P, W, L, T, Pts, NRR
    var predictStandingJS = []; //ShortTeamName, LongTeamName, P, W, L, T, Pts, %
    var gameInfoJS = [];        //homeTeamLongName, AwayTeamLongName, where, when, week, completed, winnerLongTeamName, winnerNotes, homeScore, awayScore
    var origPlayoffPercJS = [];

    var teamFullNames = ["CHENNAI SUPER KINGS", "DELHI DAREDEVILS", "KINGS XI PUNJAB", "KOLKATA KNIGHT RIDERS", "MUMBAI INDIANS", "RAJASTHAN ROYALS", "ROYAL CHALLENGERS BANGALORE", "SUNRISERS HYDERABAD"];
    var teamShortNames = ["CSK", "DD", "KP", "KKR", "MI", "RR", "RCB", "SRH"];
    var weekShortTitle = ["Apr 7 - Apr 15","Apr 16 - Apr 22","Apr 23 - Apr 29","Apr 30 - May 6","May 7 - May 13","May 14 - May 20"];
    var weekFullTitle = ["WEEK 1 (Apr 7 - Apr 15)","WEEK 2 (Apr 16 - Apr 22)","WEEK 3 (Apr 23 - Apr 29)","WEEK 4 (Apr 30 - May 6)","WEEK 5 (May 7 - May 13)","WEEK 6 (May 14 - May 20)"];
    var backgroundColor = ["yellow", "red lighten-2", "red", "deep purple lighten-1", "light blue", "indigo lighten-2", "red accent-4", "deep orange"];

    
    window.onload = function () {
        
        var elemsModal = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elemsModal, {});
        
        currentWeek[0] = '@inputWeek';

        var playoffPercTokens = '@inputPlayoffPrec'.split(',');
        for (i = 0; i < playoffPercTokens.length; i = i + 3) {
            origPlayoffPercJS.push({ "TeamName": playoffPercTokens[i], "Perc": playoffPercTokens[i + 1], "Change":playoffPercTokens[i+2] });
        }


        document.getElementById('weeklySelection').innerHTML = GetWeeklySelectionContent();
        document.getElementById('weeklySelectionBottom').innerHTML = GetWeeklySelectionBottomContent();
        document.getElementById('teamsLogos').innerHTML = "";

        document.getElementById('radioButtonViewByDate').checked = true;

        var standingsTokens = '@inputStandings'.split(',');
        for (i = 0; i < standingsTokens.length; i = i + 8) {
            var objPerc = FindObjectByKey(origPlayoffPercJS, "TeamName", standingsTokens[i]);
            var percTemp = objPerc.Perc;
            var changeTemp = objPerc.Change;

            origStandingsJS.push({ "LongTeamName": standingsTokens[i], "ShortTeamName": standingsTokens[i + 1], "P": standingsTokens[i + 2], "W": standingsTokens[i + 3], "L": standingsTokens[i + 4], "T": standingsTokens[i + 5], "Pts": standingsTokens[i + 6], "NRR": standingsTokens[i + 7], "PlayoffPerc": percTemp, "PlayoffChange": changeTemp });
            predictStandingJS.push({ "LongTeamName": standingsTokens[i], "ShortTeamName": standingsTokens[i + 1], "P": 0, "W": 0, "L": 0, "T": 0, "Pts": 0, "NRR": standingsTokens[i + 7], "PlayoffPerc": percTemp, "PlayoffChange": changeTemp  });
        }
        var resultsTokens = '@inputResults'.split('|');
        var gameCounter = 1;
        for (i = 0; i < resultsTokens.length; i = i + 10) {
            gameInfoJS.push({ "GameNo":gameCounter, "HomeTeamName": resultsTokens[i], "AwayTeamName": resultsTokens[i + 1], "Where": resultsTokens[i + 2], "When": resultsTokens[i + 3], "Week": resultsTokens[i + 4], "Completed": resultsTokens[i + 5], "WinnerTeamName": resultsTokens[i + 6], "WinnerScore": resultsTokens[i + 7], "HomeScore": resultsTokens[i + 8], "AwayScore": resultsTokens[i + 9] });
            gameCounter++;
        }

        for (i = 0; i < gameInfoJS.length; i++) {
            var homeTeamObj = FindObjectByKey(predictStandingJS, "LongTeamName", gameInfoJS[i].HomeTeamName);
            homeTeamObj.P++;
            var awayTeamObj = FindObjectByKey(predictStandingJS, "LongTeamName", gameInfoJS[i].AwayTeamName);
            awayTeamObj.P++;
            //alert("Comparing " + gameInfoJS[i].HomeTeamName +" to " + gameInfoJS[i].WinnerTeamName)
            if (gameInfoJS[i].HomeTeamName == gameInfoJS[i].WinnerTeamName) {
                homeTeamObj.W++;
                homeTeamObj.Pts += 2;
                awayTeamObj.L++;
            } else {
                awayTeamObj.W++;
                awayTeamObj.Pts += 2;
                homeTeamObj.L++;
            }
        }
        document.getElementById("standingsTableBody").innerHTML = GetStandingsTableBody();

        //Sort the predictStandingJS on pts, w, current RR
        SortStandings(predictStandingJS);
        document.getElementById("predictionsTableBody").innerHTML = GetPredictionsTableBody();

        UpdateGamesAndResults();
    }

    function PrevClicked() {
        if (viewType[0] == "Date") {
            if (currentWeek[0] != 1)
                currentWeek[0]--;
            //alert("Hello from prev week clicked. CurrentWeek = " + currentWeek[0]);
        }
        else if (viewType[0] == "Team") {
            currentTeamIndex[0]--;
            if (currentTeamIndex[0] == -1)
                currentTeamIndex[0] = 7;
        }
        UpdateGamesAndResults();
    }

    function NextClicked() {
        if (viewType[0] == "Date") {
            if (currentWeek[0] != 6)
                currentWeek[0]++;
            //alert("Hello from prev week clicked. CurrentWeek = " + currentWeek[0]);
        }
        else if (viewType[0] == "Team") {
            currentTeamIndex[0]++;
            if (currentTeamIndex[0] == 8)
                currentTeamIndex[0] = 0;
        }
        UpdateGamesAndResults();
    }

    function GetWeeklySelectionContent() {
        var content = "";
        content += "<a class=\"col s2 center-align\" href=\"#\"> <i class=\"center-align medium material-icons\" style=\"color:#1e88e5\" onclick=\"PrevClicked()\">chevron_left</i></a>";
        content += "<div class=\"col s8 center-align hide-on-med-and-up\"><h5 id=\"TitleSmall\">Apr 16 - Apr 23</h5></div>";
        content += "<div class=\"col m8 center-align hide-on-small-and-down\"><h5 id=\"TitleFull\">Week 1 (Apr 16 - Apr 23)</h5></div>";
        content += "<a href=\"#\" class=\"col s2 center-align\"> <i class=\"medium material-icons center-align\" style=\"color:#1e88e5\" onclick=\"NextClicked()\">chevron_right</i></a>";
        return content;
    }

    function GetWeeklySelectionBottomContent() {
        var content = "";
        content += "<a class=\"col s2 center-align\" href=\"#\"> <i class=\"center-align medium material-icons\" style=\"color:#1e88e5\" onclick=\"PrevClicked()\">chevron_left</i></a>";
        content += "<div class=\"col s8 center-align hide-on-med-and-up\"><h5 id=\"TitleSmallBottom\">Apr 16 - Apr 23</h5></div>";
        content += "<div class=\"col m8 center-align hide-on-small-and-down\"><h5 id=\"TitleFullBottom\">Week 1 (Apr 16 - Apr 23)</h5></div>";
        content += "<a href=\"#\" class=\"col s2 center-align\"> <i class=\"medium material-icons center-align\" style=\"color:#1e88e5\" onclick=\"NextClicked()\">chevron_right</i></a>";
        return content;
    }

    function TeamSelectionChanged(id) {
        currentTeamIndex[0] = id;
        document.getElementById('teamsLogos').innerHTML = GetTeamsLogosContent();

        UpdateGamesAndResults();
    }

    function GetTeamsLogosContent() {
        var content = "";
        content += "<div class=\"row\">";

        for (i = 0; i < 2; i++) {
            content += "<div class=\"col s12 m6\">";
            content += "<div class=\"row\">";
            for (j = 0; j < 4; j++) {
                if (currentTeamIndex[0] * 1 == i * 4 + j * 1) {
                    content += "<div class=\"col s3 z-depth-2 center hoverable " + backgroundColor[ i*4+ j*1] + " \" style=\"height:115px\" id = " + (i * 4 + j * 1) + " onclick=TeamSelectionChanged(id) >";
                } else {
                    content += "<div class=\"col s3 z-depth-2 center hoverable \" style=\"height:115px\" id = " + (i * 4 + j * 1) + " onclick=TeamSelectionChanged(id) >";
                }
                content += "<div><img src=\"/Content/IPL/Logos/" + teamFullNames[i * 4 + j * 1] + ".png\" style=\"max-width:100%; padding-top:20px\"> <p class=\"black-text\" style=\"font-weight: bold\">" + teamShortNames[i * 4 + j * 1] + "</p></div>";
                content += "</div>";
            }
            content += "</div>";
            content += "</div>";
        }
        content += "</div>";
        content += "<div class=\"col s12 center-align hide-on-med-and-up\"><h5 id=\"TitleSmall\" class=\"black-text\" >Apr 16 - Apr 23</h5></div>";
        content += "<div class=\"col m12 center-align hide-on-small-and-down\"><h5 id=\"TitleFull\" class=\"black-text\">Week 1 (Apr 16 - Apr 23)</h5></div>";

        return content;
    }

    function ViewByChanged(id) {
        if (id == "radioButtonViewByDate") {
            viewType[0] = "Date";

            document.getElementById('weeklySelection').innerHTML = GetWeeklySelectionContent();
            document.getElementById('weeklySelectionBottom').innerHTML = GetWeeklySelectionBottomContent();
            document.getElementById('teamsLogos').innerHTML = "";
        }
        else if (id == "radioButtonViewByTeam")
        {
            viewType[0] = "Team";

            document.getElementById('weeklySelection').innerHTML = "";
            document.getElementById('weeklySelectionBottom').innerHTML = "";
            document.getElementById('teamsLogos').innerHTML = GetTeamsLogosContent();
        }
        UpdateGamesAndResults();
    }

    function GetBackgroundColor(team) {

        if (team.toUpperCase() == "CHENNAI SUPER KINGS")
            return backgroundColor[0];
        else if (team.toUpperCase() == "DELHI DAREDEVILS")
            return backgroundColor[1];
        else if (team.toUpperCase() == "KINGS XI PUNJAB")
            return backgroundColor[2];
        else if (team.toUpperCase() == "KOLKATA KNIGHT RIDERS")
            return backgroundColor[3];
        else if (team.toUpperCase() == "MUMBAI INDIANS")
            return backgroundColor[4];
        else if (team.toUpperCase() == "RAJASTHAN ROYALS")
            return backgroundColor[5];
        else if (team.toUpperCase() == "ROYAL CHALLENGERS BANGALORE")
            return backgroundColor[6];
        else if (team.toUpperCase() == "SUNRISERS HYDERABAD")
            return backgroundColor[7];
    }

    function ChangeSelection(id) {

        //3 things need to happen:
        //1. Update check boxes (done)
        //2. Update standings
        //3. Update Projected standings based on new winners

        //1. Update check boxes:
        var tokens = id.split('_');

        //determine if the id was checked or unchecked:
        var checked = false;
        if (document.getElementById(id).checked)
            checked = true;

        var corrId = "";
        if (tokens.length > 2) {
            if (tokens[2] == "Home")
                corrId = tokens[0] + '_' + tokens[1] + '_' + "Away";
            else
                corrId = tokens[0] + '_' + tokens[1] + '_' + "Home";
        }
        document.getElementById(corrId).checked = !document.getElementById(id).checked;

        var homeTeamLongName = gameInfoJS[tokens[1] * 1 - 1].HomeTeamName;
        var awayTeamLongName = gameInfoJS[tokens[1] * 1 - 1].AwayTeamName;

        var winner = "";
        var loser = "";
        if (document.getElementById(id).checked == true) {
            if (id.includes("Home")) {
                winner = homeTeamLongName;
                loser = awayTeamLongName;
            } else {
                winner = awayTeamLongName;
                loser = homeTeamLongName;
            }
        }
        else {
            if (id.includes("Home")) {
                winner = awayTeamLongName;
                loser = homeTeamLongName;
            } else {
                winner = homeTeamLongName;
                loser = awayTeamLongName;
            }
        }

        //alert("Win = " + winner + ", lose = " + loser);
        //update winner in gameInfo.
        gameInfoJS[tokens[1] * 1 - 1].WinnerTeamName = winner;

        //
        var winnerObj = FindObjectByKey(predictStandingJS, "LongTeamName", winner);
        winnerObj.W++;
        winnerObj.L--;
        winnerObj.Pts += 2;
        var loserObj = FindObjectByKey(predictStandingJS, "LongTeamName", loser);
        loserObj.W--;
        loserObj.L++;
        loserObj.Pts -= 2;

        //Sort and Redraw standings
        SortStandings(predictStandingJS);
        document.getElementById("predictionsTableBody").innerHTML = GetPredictionsTableBody();
    }

    function GetGamesContent() {
        var content = "";
        content += "    <div class=\"container\">";
        content += "    <hr style=\"float:left; width:100%\" class=\"left\" />";

        if (viewType[0] == "Date") {
            //content += currentWeek[0];
            for (i = 0; i < gameInfoJS.length; i++) {
                if (gameInfoJS[i].Week == currentWeek[0]) {
                    if (gameInfoJS[i].Completed == "true") {
                        content += "    <a style=\"float:left;width:46%; padding-top:10px; padding-bottom:10px; height:75px \" class=\"waves-effect waves-light btn-large hoverable " + GetBackgroundColor(gameInfoJS[i].HomeTeamName) + "\">";
                        content += "        <div class=\"row\">";
                        //content += "            <div class=\"col s8 m4  center-align\">";
                        //content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].HomeTeamName + ".png\" height=\"50\" >";
                        //content += "            </div>";
                        //content += "            <div class=\"col m6 hide-on-small-only right-align black-text\" style=\"font-weight: bold\">" + GetShortTeamName( gameInfoJS[i].HomeTeamName) + "</div>";
                        //content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";

                        content += "            <div class=\"col s8 m4  center-align\">";
                        content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].HomeTeamName + ".png\" height=\"50\" >";
                        content += "            </div>";
                        content += "            <div class=\"col m6 hide-on-small-only right-align black-text\" style=\"font-weight: bold\">" + GetShortTeamName( gameInfoJS[i].HomeTeamName) + "</div>";
                        content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";

                        content += "                <label>";

                        if (gameInfoJS[i].WinnerTeamName == gameInfoJS[i].HomeTeamName) {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Home\" checked=\"checked\" onclick=\"ChangeSelection(id)\" />";
                        }
                        else {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Home\" class=\"pulse\" onclick=\"ChangeSelection(id)\" />";
                        }
                        content += "                    <span></span>";
                        content += "                </label>";
                        content += "            </div>                            ";
                        content += "        </div>";
                        content += "    </a>";
                        
                        content += "    <div style=\"float:left;width:8%;\"><h6 class=\"center-align\" style=\"padding-top:18px;color:#1e88e5\">VS</h6></div>";

                        content += "    <a style=\"float:left;width:46%; padding-top:10px; padding-bottom:10px; height:75px \" class=\"waves-effect waves-light btn-large hoverable " + GetBackgroundColor(gameInfoJS[i].AwayTeamName)+" \">";
                        content += "        <div class=\"row\">";
                        content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";
                        content += "                <label>";
                        if (gameInfoJS[i].WinnerTeamName == gameInfoJS[i].AwayTeamName) {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Away\" checked=\"checked\" onclick=\"ChangeSelection(id)\" />";
                        }
                        else {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Away\" onclick=\"ChangeSelection(id)\" />";
                        }
                        content += "                    <span></span>";
                        content += "                </label>";
                        content += "            </div>";
                        content += "            <div class=\"col m6 hide-on-small-only left-align black-text\" style=\"font-weight: bold\" >" + GetShortTeamName(gameInfoJS[i].AwayTeamName) + "</div>";
                        content += "            <div class=\"col s8 m4 center-align\">";
                        content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].AwayTeamName + ".png\" height=\"50\">";
                        content += "            </div>";
                        content += "        </div>";
                        content += "    </a>";

                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0; padding-top:10px;color:#1e88e5\" class=\"right-align\" >" + gameInfoJS[i].When + "</p>";
                        content += "    <p style=\"float:left; width:5%; margin: 0; padding: 0; padding-top:10px\" class=\"right-align white-text\">.</p>";
                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0; padding-top:10px;color:#1e88e5\" class=\"left-align\" >" + gameInfoJS[i].Where + "</p>";

                        content += "    <hr style=\"float:left; width:100%\" class=\"left\" />";
                    }
                }
            }
        }
        else if (viewType[0] == "Team") {
            for (i = 0; i < gameInfoJS.length; i++) {
                if ((gameInfoJS[i].HomeTeamName.toUpperCase() == teamFullNames[currentTeamIndex[0]]) || (gameInfoJS[i].AwayTeamName.toUpperCase() == teamFullNames[currentTeamIndex[0]])) {
                    if (gameInfoJS[i].Completed == "true")
                    {
                        content += "    <a style=\"float:left;width:46%; padding-top:10px; padding-bottom:10px; height:75px \" class=\"waves-effect waves-light btn-large hoverable " + GetBackgroundColor(gameInfoJS[i].HomeTeamName) + "\">";
                        content += "        <div class=\"row\">";
                        content += "            <div class=\"col s8 m4  center-align\">";
                        content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].HomeTeamName + ".png\" height=\"50\" >";
                        content += "            </div>";
                        content += "            <div class=\"col m6 hide-on-small-only right-align black-text\" style=\"font-weight: bold\" >" + GetShortTeamName(gameInfoJS[i].HomeTeamName) + "</div>";
                        content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";
                        content += "                <label>";

                        if (gameInfoJS[i].WinnerTeamName == gameInfoJS[i].HomeTeamName) {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Home\" checked=\"checked\" onclick=\"ChangeSelection(id)\" />";
                        }
                        else {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Home\" onclick=\"ChangeSelection(id)\" />";
                        }
                        content += "                    <span></span>";
                        content += "                </label>";
                        content += "            </div>                            ";
                        content += "        </div>";
                        content += "    </a>";

                        content += "    <div style=\"float:left;width:8%;\"><h6 class=\"center-align\" style=\"padding-top:18px;color:#1e88e5\">VS</h6></div>";

                        content += "    <a style=\"float:left;width:46%; padding-top:10px; padding-bottom:10px; height:75px \" class=\"waves-effect waves-light btn-large hoverable " + GetBackgroundColor(gameInfoJS[i].AwayTeamName) + " \">";
                        content += "        <div class=\"row\">";
                        content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";
                        content += "                <label>";
                        if (gameInfoJS[i].WinnerTeamName == gameInfoJS[i].AwayTeamName) {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Away\" checked=\"checked\" onclick=\"ChangeSelection(id)\" />";
                        }
                        else {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Away\" onclick=\"ChangeSelection(id)\" />";
                        }
                        content += "                    <span></span>";
                        content += "                </label>";
                        content += "            </div>";
                        content += "            <div class=\"col m6 hide-on-small-only left-align black-text\" style=\"font-weight: bold\" >" + GetShortTeamName(gameInfoJS[i].AwayTeamName) + "</div>";
                        content += "            <div class=\"col s8 m4  center-align\">";
                        content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].AwayTeamName + ".png\" height=\"50\">";
                        content += "            </div>";
                        content += "        </div>";
                        content += "    </a>";

                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0; padding-top:10px;color:#1e88e5\" class=\"right-align\" >" + gameInfoJS[i].When + "</p>";
                        content += "    <p style=\"float:left; width:5%; margin: 0; padding: 0; padding-top:10px\" class=\"right-align white-text\">.</p>";
                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0; padding-top:10px;color:#1e88e5\" class=\"left-align\" >" + gameInfoJS[i].Where + "</p>";

                        content += "    <hr style=\"float:left; width:100%\" class=\"left\" />";
                    }
                }
            }
        }
        return content;
    }

    function GetResultsContent() {
        var content = "";
        content += "    <div class=\"container\">";
        content += "    <hr style=\"float:left; width:100%\" class=\"left\" />";

        if (viewType[0] == "Date") {
            //content += currentWeek[0];
            for (i = 0; i < gameInfoJS.length; i++) {
                if (gameInfoJS[i].Week == currentWeek[0]) {
                    if (gameInfoJS[i].Completed == "false") {

                        content += "    <a style=\"float:left;width:46%; padding-top:10px; padding-bottom:10px; height:75px \" class=\"waves-effect waves-light btn-large z-depth-5 disabled " + GetBackgroundColor(gameInfoJS[i].HomeTeamName) + "\">";
                        content += "        <div class=\"row\">";
                        content += "            <div class=\"col s8 m4  center-align\">";
                        content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].HomeTeamName + ".png\" height=\"50\" >";
                        content += "            </div>";
                        content += "            <div class=\"col m6 hide-on-small-only right-align\" style=\"font-weight: bold;color:#1e88e5\">" + GetShortTeamName(gameInfoJS[i].HomeTeamName) + "</div>";
                        content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";
                        content += "                <label>";

                        if (gameInfoJS[i].WinnerTeamName == gameInfoJS[i].HomeTeamName) {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Home\" checked=\"checked\" onclick=\"ChangeSelection(id)\" />";
                        }
                        else {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Home\" onclick=\"ChangeSelection(id)\" />";
                        }
                        content += "                    <span></span>";
                        content += "                </label>";
                        content += "            </div>                            ";
                        content += "        </div>";
                        content += "    </a>";

                        content += "    <div style=\"float:left;width:8%;\"><h6 class=\"center-align\" style=\"padding-top:18px;color:#1e88e5\">VS</h6></div>";


                        content += "    <a style=\"float:left;width:46%; padding-top:10px; padding-bottom:10px; height:75px \" class=\"waves-effect waves-light btn-large z-depth-5 disabled " + GetBackgroundColor(gameInfoJS[i].AwayTeamName) + " \">";
                        content += "        <div class=\"row\">";
                        content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";
                        content += "                <label>";
                        if (gameInfoJS[i].WinnerTeamName == gameInfoJS[i].AwayTeamName) {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Away\" checked=\"checked\" onclick=\"ChangeSelection(id)\" />";
                        }
                        else {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Away\" onclick=\"ChangeSelection(id)\" />";
                        }
                        content += "                    <span></span>";
                        content += "                </label>";
                        content += "            </div>";
                        content += "            <div class=\"col m6 hide-on-small-only left-align\" style=\"font-weight: bold;color:#1e88e5\" >" + GetShortTeamName(gameInfoJS[i].AwayTeamName) + "</div>";
                        content += "            <div class=\"col s8 m4  center-align\">";
                        content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].AwayTeamName + ".png\" height=\"50\">";
                        content += "            </div>";
                        content += "        </div>";
                        content += "    </a>";
                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0;color:#1e88e5\" class=\"right-align\" >" + gameInfoJS[i].When + "</p>";
                        content += "    <p style=\"float:left; width:5%; margin: 0; padding: 0\" class=\"right-align white-text\">.</p>";
                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0;color:#1e88e5\" class=\"left-align\" >" + gameInfoJS[i].Where + "</p>";

                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0;color:#1e88e5\" class=\"right-align\">" + gameInfoJS[i].HomeScore + "</p>";
                        content += "    <p style=\"float:left; width:5%; margin: 0; padding: 0\" class=\"right-align white-text\">.</p>";
                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0;color:#1e88e5\" class=\"left-align\">" + gameInfoJS[i].AwayScore + "</p>";

                        content += "    <hr style=\"float:left; width:100%\" class=\"left\" />";
                    }
                }
            }
        }
        else if (viewType[0] == "Team") {
            //content += teamFullNames[currentTeamIndex[0]];
            for (i = 0; i < gameInfoJS.length; i++) {
                if ((gameInfoJS[i].HomeTeamName.toUpperCase() == teamFullNames[currentTeamIndex[0]]) || (gameInfoJS[i].AwayTeamName.toUpperCase() == teamFullNames[currentTeamIndex[0]])) {
                    if (gameInfoJS[i].Completed == "false") {
                        content += "    <a style=\"float:left;width:46%; padding-top:10px; padding-bottom:10px; height:75px \" class=\"waves-effect waves-light btn-large z-depth-5 disabled " + GetBackgroundColor(gameInfoJS[i].HomeTeamName) + "\">";
                        content += "        <div class=\"row\">";
                        content += "            <div class=\"col s8 m4  center-align\">";
                        content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].HomeTeamName + ".png\" height=\"50\" >";
                        content += "            </div>";
                        content += "            <div class=\"col m6 hide-on-small-only right-align\" style=\"font-weight: bold;color:#1e88e5\" >" + GetShortTeamName(gameInfoJS[i].HomeTeamName) + "</div>";
                        content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";
                        content += "                <label>";

                        if (gameInfoJS[i].WinnerTeamName == gameInfoJS[i].HomeTeamName) {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Home\" checked=\"checked\" onclick=\"ChangeSelection(id)\" />";
                        }
                        else {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Home\" />";
                        }
                        content += "                    <span></span>";
                        content += "                </label>";
                        content += "            </div>                            ";
                        content += "        </div>";
                        content += "    </a>";

                        content += "    <div style=\"float:left;width:8%;color:#1e88e5;padding-top:18px\"><h6 class=\"center-align\">VS</h6></div>";

                        content += "    <a style=\"float:left;width:46%; padding-top:10px; padding-bottom:10px; height:75px \" class=\"waves-effect waves-light btn-large z-depth-5 disabled " + GetBackgroundColor(gameInfoJS[i].AwayTeamName) + " \">";
                        content += "        <div class=\"row\">";
                        content += "            <div class=\"col s4 m2\" style=\"padding-top:8px\">";
                        content += "                <label>";
                        if (gameInfoJS[i].WinnerTeamName == gameInfoJS[i].AwayTeamName) {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Away\" checked=\"checked\" onclick=\"ChangeSelection(id)\" />";
                        }
                        else {
                            content += "                    <input type=\"checkbox\" id = \"game_" + gameInfoJS[i].GameNo + "_Away\" />";
                        }
                        content += "                    <span></span>";
                        content += "                </label>";
                        content += "            </div>";
                        content += "            <div class=\"col m6 hide-on-small-only left-align\" style=\"font-weight: bold;color:#1e88e5\" >" + GetShortTeamName(gameInfoJS[i].AwayTeamName) + "</div>";
                        content += "            <div class=\"col s8 m4  center-align\">";
                        content += "                <img src=\"/Content/IPL/Logos/" + gameInfoJS[i].AwayTeamName + ".png\" height=\"50\">";
                        content += "            </div>";
                        content += "        </div>";
                        content += "    </a>";

                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0;color:#1e88e5\" class=\"right-align\" >" + gameInfoJS[i].When + "</p>";
                        content += "    <p style=\"float:left; width:5%; margin: 0; padding: 0\" class=\"right-align white-text\">.</p>";
                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0;color:#1e88e5\" class=\"left-align\" >" + gameInfoJS[i].Where + "</p>";

                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0;color:#1e88e5\" class=\"right-align\">" + gameInfoJS[i].HomeScore + "</p>";
                        content += "    <p style=\"float:left; width:5%; margin: 0; padding: 0\" class=\"right-align white-text\">.</p>";
                        content += "    <p style=\"float:left; width:47.5%; margin: 0; padding: 0;color:#1e88e5\" class=\"left-align\">" + gameInfoJS[i].AwayScore + "</p>";

                        content += "    <hr style=\"float:left; width:100%\" class=\"left\" />";
                    }
                }
            }
        }
        return content;
    }

    function UpdateGamesAndResults() {
        //Update title
        if (viewType[0] == "Date") {
            document.getElementById("TitleSmall").innerHTML = weekShortTitle[currentWeek[0] - 1];
            document.getElementById("TitleFull").innerHTML = weekFullTitle[currentWeek[0] - 1];
            document.getElementById("TitleSmallBottom").innerHTML = weekShortTitle[currentWeek[0] - 1];
            document.getElementById("TitleFullBottom").innerHTML = weekFullTitle[currentWeek[0] - 1];
        } else if (viewType[0] == "Team") {
            document.getElementById("TitleSmall").innerHTML = "<span style=\"color:#1e88e5\">" + teamFullNames[currentTeamIndex[0]] + "</span>";
            document.getElementById("TitleFull").innerHTML = "<span style=\"color:#1e88e5\">" + teamFullNames[currentTeamIndex[0]] + "</span>";
        }
        //Update Games
        document.getElementById("games").innerHTML = GetGamesContent();
        //Update Results
        document.getElementById("results").innerHTML = GetResultsContent();
    }

    function GetLongTeamName(shortTeamName) {
        if (shortTeamName == "KP") return "Kings XI Punjab";
        if (shortTeamName == "CSK") return "Chennai Super Kings";
        if (shortTeamName == "KKR") return "Kolkata Knight Riders";
        if (shortTeamName == "SRH") return "Sunrisers Hyderabad";
        if (shortTeamName == "RCB") return "Royal Challengers Bangalore";
        if (shortTeamName == "RR") return "Rajasthan Royals";
        if (shortTeamName == "MI") return "Mumbai Indians";
        if (shortTeamName == "DD") return "Delhi Daredevils";
    }

    function GetShortTeamName(longTeamName) {
        if (longTeamName == "Kings XI Punjab") return "KP";
        if (longTeamName == "Chennai Super Kings") return "CSK";
        if (longTeamName == "Kolkata Knight Riders") return "KKR";
        if (longTeamName == "Sunrisers Hyderabad") return "SRH";
        if (longTeamName == "Royal Challengers Bangalore") return "RCB";
        if (longTeamName == "Rajasthan Royals") return "RR";
        if (longTeamName == "Mumbai Indians") return "MI";
        if (longTeamName == "Delhi Daredevils") return "DD";
    }

    function GetStandingsTableBody() {
        var content = "";

        for (i = 0; i < origStandingsJS.length; i++) {
            content += "<tr> <td> <div class=\"clearfix float-my-children\" > ";
            content += "<img src=\"/Content/IPL/Logos/" + origStandingsJS[i].LongTeamName + ".png\" height=\"22\" style=\"padding-left:20px\" >";
            if(i < 4)
                content += "<div style=\"padding-left:20px; font-weight: bold\">" + origStandingsJS[i].ShortTeamName + "</div>";
            else
                content += "<div style=\"padding-left:20px\">" + origStandingsJS[i].ShortTeamName + "</div>";
            content += "</div> </td> <td>" + origStandingsJS[i].P + "</td>";
            content += "<td>" + origStandingsJS[i].W + "</td>";
            content += "<td>" + origStandingsJS[i].L + "</td>";
            content += "<td>" + origStandingsJS[i].Pts + "</td>";
            content += "<td>" + origStandingsJS[i].NRR + "</td>";
            content += "<td>" + origStandingsJS[i].PlayoffPerc + "</td>";
            if (origStandingsJS[i].PlayoffChange == "UP")
                content += "<td><i class=\"tiny material-icons green-text\">arrow_upward</i></td>";
            else if (origStandingsJS[i].PlayoffChange == "DOWN")
                content += "<td><i class=\"tiny material-icons red-text\">arrow_downward</i></td>";
            else
                content += "<td></td>"
            content += "</tr> ";
        }
        return content;
    }

    function GetPredictionsTableBody() {
        var content = "";

        for (i = 0; i < origStandingsJS.length; i++) {

            content += "<tr> <td> <div class=\"clearfix float-my-children\"> ";
            content += "<img src=\"/Content/IPL/Logos/" + predictStandingJS[i].LongTeamName + ".png\" height=\"22\" style=\"padding-left:20px\" > ";
            if(i < 4)
                content += "<div style=\" padding-left:20px; font-weight: bold\">" + predictStandingJS[i].ShortTeamName + "</div>";
            else
                content += "<div style=\" padding-left:20px\">" + predictStandingJS[i].ShortTeamName + "</div>";
            content += "</div> </td> <td>" + predictStandingJS[i].P + "</td>";
            content += "<td>" + predictStandingJS[i].W + "</td>";
            content += "<td>" + predictStandingJS[i].L + "</td>";
            content += "<td>" + predictStandingJS[i].T + "</td>";
            content += "<td>" + predictStandingJS[i].Pts + "</td>";
            //content += "<td>" + predictStandingJS[i].PlayoffPerc + "</td>";
            content += "</tr> ";
        }
        return content;
    }

    function SortStandings(standings) {
        standings.sort(function (a, b) {
            if (a.pts != b.pts)
                return b.pts - a.pts;
            else if (a.W != b.W)
                return b.W - a.W;
            else if (a.NRR != b.NRR) {
                //Add a large constant such that the negative values become positive, preserving the absolute difference.

                var tempA = a.NRR*1 + 10.0;
                var tempB = b.NRR*1 + 10.0;
                //alert(a.NRR + " = " + tempA + " compared to " + b.NRR + " = " + tempB);
                return tempB - tempA;
            }
            else {
                if (a.TeamName == b.TeamName) return 0;
                if (a.TeamName > b.TeamName) return 1;
                if (a.TeamName < b.TeamName) return -1;
            }
        });
    }

    function FindObjectByKey(array, key, value) {
        for (var i = 0; i < array.length; i++) {
            if (array[i][key].localeCompare(value) == 0) {
                return array[i];
            }
        }
        alert("Error: " + value + " not found!");
        return null;
    }

</script>



<style type="text/css">
    td {
        padding: 5px;
        margin: 0px;
    }

    th {
        padding: 5px;
        margin: 0px;
    }

    /* tell the container's children to float left: */
    .float-my-children > * {
        float: left;
        margin-right: 5px;
    }

    /* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

    .clearfix {
        *zoom: 1 /* for IE */
    }

        .clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

    .card-panel {
        padding: 5px;
    }

    .table {
        margin: 0px;
    }
</style>
