
@{
    ViewBag.Title = "Predictions";
}

<nav class="teal">
    <div class="container">
        <div class="nav-wrapper">
            <ul class="left">
                <li><a href='@Url.Action("Standings", "IPL18")'>Standings</a></li>
                <li class="active"><a href='@Url.Action("Games", "IPL18")'>Upcoming Games</a></li>
                <li><a href='@Url.Action("Teams", "IPL18")'>Teams</a></li>
            </ul>
        </div>
    </div>
</nav>

@{
    //Input from controller

    string inputResults = (string)ViewData["Results"];
    List<string> results = new List<string>();
    string[] tokens = inputResults.Split(',');
    <p>@tokens.Length</p>
    foreach (string token in tokens)
    {
        results.Add(token);
    }



    string inputStandings = (string)ViewData["Standings"];
    List<string> standings = new List<string>();
    tokens = inputStandings.Split(',');
    foreach (string token in tokens)
    {
        standings.Add(token);
    }
}

<div>

</div>


<script type="text/javascript">

</script>

