
@{
    ViewBag.Title = "Standings";
}


<nav class="teal">
    <div class="container">
        <div class="nav-wrapper">
            <ul class="left">
                <li class="active"><a href='@Url.Action("Standings", "IPL18")'>Standings</a></li>
                <li><a href='@Url.Action("Games", "IPL18")'>Upcoming Games</a></li>
                <li><a href='@Url.Action("Teams", "IPL18")'>Teams</a></li>
            </ul>
        </div>
    </div>
</nav>

<h2>Standings</h2>

